* {
  opacity: 1;
  transition: opacity 300ms;
}

.row {
    min-height: 80px;
}

.alert {
  opacity: 0;
}

.alert-area {
  min-height: 65px;
}

hr {
    color: red;
    width: 0%;
    height: 8px;
    position: relative;
    top: 29px;
    background: red;
    text-align: center;
    margin: auto;
    right: 15px;
    transition: width 200ms;
}

tr {
    position: relative;
}

.hranime {
  width: 90% !important;
}
